
div.navbar 

 a(href="/" class="nav-link") Home
 a(href="/about-us" class="nav-link") About
 a(href="/services" class="nav-link") Services
 a(href="/contact-us" class="nav-link") Contact Us
 a(href="/create-account" class="nav-link") Account
