
doctype html
html 
 head 
  title="contact us"
  block styles
    link(rel="stylesheet" type="text/css" href="/css/style.css")
body 
//-include a header 
include ./header.pug 
include ./navbar.pug  
div.content 
 div.left 
  h3 Create account with us
  img(src="https://cdni.iconscout.com/illustration/premium/thumb/create-account-6333606-5230166.png", alt="", srcset="")
 div.right  
  h3 Register Form
  p just load a Register us page
  div.form-group 
   input(type="text", name="name" placeholder="Enter Name *")
  div.form-group 
   input(type="email", name="email" placeholder="Enter Email *")
  div.form-group 
   input(type="password", name="password" placeholder="Enter Password *")
  div.form-group 
   input(type="text", name="phone" placeholder="Enter Phone *")
  div.form-group 
   input(type="text", name="phone" placeholder="Enter Subject *")
  div.form-group 
   input(type="text", name="phone" placeholder="Enter Message *")
  div.form-group 
   input(type="submit", value="Register")

include ./footer.pug
